BClientWebSOA/res/RequestHandlerClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://max" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://max" xmlns:intf="http://max" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://max" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStateDataReturn" type="xsd:string"/>
   <element name="userXML" type="xsd:string"/>
   <element name="getUserDetailByXMLReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStateDataRequest">

   </wsdl:message>

   <wsdl:message name="getUserDetailByXMLRequest">

      <wsdl:part element="impl:userXML" name="userXML">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserDetailByXMLResponse">

      <wsdl:part element="impl:getUserDetailByXMLReturn" name="getUserDetailByXMLReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStateDataResponse">

      <wsdl:part element="impl:getStateDataReturn" name="getStateDataReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RequestHandlerClass">

      <wsdl:operation name="getStateData">

         <wsdl:input message="impl:getStateDataRequest" name="getStateDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStateDataResponse" name="getStateDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserDetailByXML" parameterOrder="userXML">

         <wsdl:input message="impl:getUserDetailByXMLRequest" name="getUserDetailByXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserDetailByXMLResponse" name="getUserDetailByXMLResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RequestHandlerClassSoapBinding" type="impl:RequestHandlerClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStateData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStateDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStateDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserDetailByXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDetailByXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserDetailByXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RequestHandlerClassService">

      <wsdl:port binding="impl:RequestHandlerClassSoapBinding" name="RequestHandlerClass">

         <wsdlsoap:address location="http://localhost:8080/ASOAServerDB/services/RequestHandlerClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
